.banner {
    background-color:#3c976a;
    width: 100vw;
    height: 680px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  
  .ContainerBanner {
    width: calc(100vw - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px 16px;
    flex-direction: column;
  }
  

  
  .titleBanner {
    font-size: 48px;
    color: #121212;
    padding-top: 30px;
    padding-bottom: 12px;
  }
  
  .subtitleBanner {
    font-size: 36px;
    color: #121212;
    font-weight:none;
  }
  
  @media (max-width: 600px) {
    .titleBanner {
      font-size: 34px;
    }
  
    .subtitleBanner {
      font-size: 20px;
    }
  }
  