 

.HomePage {
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 60% 20%; 
    margin-left: 0;
    align-items: stretch; 
  }
  
  .Menu {
    grid-column: 1;
  }
  
  .Comments {
    grid-column: 2;
  }
  
  .SearchAndAd {
    grid-column: 3;
  }
  