.MenuContainer { 
  color: black;
  background-color: #f9f9f9;
  padding-top: 30px; 
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;  
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
}

  .AvatarContainer {
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);

    overflow: hidden;
  }
  
  .Avatar {
    width: 150px;
    height: 150px;
  }
  
  .UserDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .Username {
    font-size: 1.2rem;
  }

  .NameMenu {
    width: 100vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    color: #e7e7e7;
    background-color:#379164;
    margin-top: 10px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
  }
  
  .Score {
    margin-bottom: 10px;
  }
  
  .SignoutButton {
    padding: 1px 1px;
    background-color: transparent;
    color:#379164;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
