.MenuContainer { 
  width: 100%;
  color: black;
  background-color: #f9f9f9;
  padding-top: 30px; 
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;  
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
}

.AvatarContainer {
  border-radius: 30%;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.box{
  margin:20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreContainer{
  width: calc(100%-100px);
}

.Avatar {
  width: 170px;
  height: 170px;
}

.UserDetails {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usernameMenu {
  font-size: 14px;
  color: #929292; 
  margin-bottom: 0;
}

.NameMenu {
  width: 100vw;
  font-size: 20px;
  background-color: #e4e4e4; 
  color: #000000;
  margin-top: 10px;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
}

.Score {
  margin-bottom: 10px;
}

.SignoutButton {
  padding: 1px 1px;
  background-color: transparent;
  color: #379164;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.scoreContent {
  margin: 0;

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  list-style-type: none; 
}

.Score{
  justify-items: center;
  width: 150px;
  background-color: #e4e4e4; 
  padding: 10px;
  padding-left: 20px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.configurar{
  display: flex;
  flex-direction: column;
}


@media (max-width: 1180px) {

  .NameMenu {
    width: 100vw;
    font-size: 17px;
    background-color: #e4e4e4; 
    color: #000000;
    margin-top: 10px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
  }
  .usernameMenu {
    font-size: 12px;
  }



  .scoreContent {
    margin: 0;
  }
  
  .Avatar {
    width: 130px;
    height: 130px;
  }
  }


  
@media (max-width: 990px) {

  .Score{
    width: 110px;
    padding: 10px;
    padding-left: 20px;
    font-size: 12px;
  }

  .Score li{
    font-size: 10px;
  }

  .scoreContent {
    margin: 0;
    
  }
  
  .Avatar {
    width: 130px;
    height: 130px;
  }
  }



@media (max-width: 800px) {
  .configurar{
    display: none;
  }
}
